*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/ddca/*
!Makefile
!README.md
!.gitignore
!init.sh
!formatter.py
!inst-to-impl.txt
/fceux-am
/nvboard
/build
/obj_dir
/am-kernels
npc/single_cycle/verilog/include/constant.h
